body {
    margin: 0;
    background-color: #000;
}

header {
    margin-top: 3em;
    text-align: center;
    color: white;
}

ul li {
    list-style: none;
    line-height: 2rem;
}

#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
}